html {
    background-color: #80A7C8;
}

.loading {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

svg {
	max-width: 25em;
	border-radius: 3px;
	box-shadow: 2px 2px 5px #000;
	background: #1B1E2E;
	fill: none;
	stroke: #222;
	stroke-linecap: round;
	stroke-width: 8%
}

use {
	stroke: #191970;
	animation: a 2s linear infinite
}

@keyframes a { to { stroke-dashoffset: 0px } }
