
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h2{
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    font-size: 35px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    font-size: 22px;
    text-decoration: underline;
    color: #FFFFFF;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    background-color: #1B1E2E;
    color: #FFFFFF;

    padding: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    background-color: #1B1E2E;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    box-sizing: border-box;
}

.game-card {
    padding: 15px;
    margin: 15px;
    width: 350px;
    background-color: #1B1E2E;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.ratio-box {
    width: 100%;
    height: 0;
    padding-top: calc(100% * (9 / 16));
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.cta-btn {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
    background-color: #191970;
    border: .15em solid #FFFFFF;
    color: #FFFFFF;
}

.cta-btn:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    border: .15em solid #C84A57;
    color: #C84A57;
}

.image,
.game-title:hover {
    cursor: pointer;
    color: #C84A57;
}